.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Styles */

body {
  font-family: 'Underdog', cursive;
}

.App {
  position: relative;
  min-height: 100vh;
  padding-bottom: 170px;
}

.footer-basic {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Navigation */

.navbar {
  background: rgb(46, 130, 94);
}

.navbar-nav {
  color: rgb(197, 135, 21);
  font-weight: bold;
}

.navbar-brand {
  font-size: 35px;
}


/* Card Styles */

.card {
  width: 20rem;
  height: auto;
  border-radius: 0;
}

.image-card {
  width: 5rem;
}

.button-primary {
  border: none;
  outline: none;
  background: rgb(46, 130, 94);
  color: white;
  padding: 5px 15px;
}

.button-primary:hover {
  background: rgb(39, 83, 64);
}

/* Beer Info Styles */

.image-container {
  width: 70px;
  height: auto;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  height: auto;
}

.food-list {
  list-style-type: none;
}

/* About styles */

.about-img-container {
  max-width: 400px;
  margin: 0 auto;
}

.about-img {
  width: 100%;
  height: auto;
}

.date {
  font-size: 12px;
  font-style: italic;
}

/* Spinner Style */

.loader {
  font-size: 50px;
  color: rgb(46, 130, 94);
}

/* Footer styles */

.footer-basic {
  padding:40px 0;
  background-color:rgb(46, 130, 94);
  color:rgb(226, 219, 219);
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* Search Styles */

#search-input {
  width: 100%;
  text-align: center;
}

#search-button {
  background:rgb(46, 130, 94);
}

#search-button:hover {
  background-color: rgb(39, 83, 64);
}